<!DOCTYPE html>
<!--Code By Webdevtrick ( https://webdevtrick.com )-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HTML Email Template | Webdevtrick.com</title>
    <style>
        td {
            border: 0;
        }
    </style>
</head>

<body>
    <!--HEADER -->
    <table width="100%" height="100" bgcolor="#F0F7F4" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr height="40"></tr>
            <tr>
                <td align="center" style="font-family: 'Raleway', sans-serif; font-size:37px; color:#3B3561; line-height:44px; font-weight: bold; letter-spacing: 5px;">
                    Pengembalian Permintaan Dana
                </td>
            </tr>
            <tr height="40"></tr>
        </tbody>
    </table>
    <!-- END HEADERR -->

    <!-- START SHOWCASE -->
    <table align="center" width="70%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td height="35"></td>
            </tr>
            <tr>
                <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;">
                    Email ini dikirimkan otomatis oleh sistem. <br> Email ini bertujuan untuk memberitahukan kepada Unit bahwa permintaan dana yang dilakukan pada SIMAMOV tidak dapat diproses.
                </td>
            </tr>
            <tr height="50"></tr>
        </tbody>
    </table>

    <table align="center" width="50%" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; text-align: justify;">
                    Permintaan dana yang Anda lakukan pada SIMAMOV dengan nomor transaksi ${notrans} pada ${tanggal} terdapat kesalahan/dokumen tidak lengkap sehingga tidak dapat diproses. Permintaan telah dikembalikan kepada unit oleh petugas dengan catatan ${cppk}.
                </td>
            </tr>
        </tbody>
    </table>
    <!-- END SHOWCASE -->

    <!-- START FOOTER -->
    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr height="50"></tr>
            <tr>
                <td align="center" bgcolor="#F0F7F4">
                    <table class="col" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr height="15"></tr>
                            <tr>
                                <td align="left" style="font-family: 'Raleway',  sans-serif; font-size:26px; font-weight: 500; color:#3B3561; padding-left: 15px;">2021 - SIMAMOV</td>
                            </tr>
                            <tr height="15"></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- END FOOTER -->



</body>

</html>