<!DOCTYPE html>
<!--Code By Webdevtrick ( https://webdevtrick.com )-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>HTML Email Template | Webdevtrick.com</title>
    <style>
        td {
            border: 0;
        }
    </style>
</head>

<body>
    <!--HEADER -->
    <table width="100%" height="100" bgcolor="#F0F7F4" align="center" cellpadding="0" cellspacing="0">
        <tbody>
            <tr height="40"></tr>
            <tr>
                <td align="center" style="font-family: 'Raleway', sans-serif; font-size:37px; color:#3B3561; line-height:44px; font-weight: bold; letter-spacing: 5px;">
                    Permintaan Perubahan POK
                    <!-- <span style="font-family: 'Raleway', sans-serif; font-size:37px; color:#3B3561; line-height:39px; font-weight: 300; letter-spacing: 5px;">
                                TO NEWSLETTER</span> -->
                </td>
            </tr>
            <tr height="10"></tr>
            <tr>
                <td align="center" style="font-family: 'Lato', sans-serif; font-size:15px; color:#3B3561; line-height:24px; font-weight: 300;">
                    Oleh: PPK
                </td>
            </tr>
            <tr height="40"></tr>
        </tbody>
    </table>
    <!-- END HEADERR -->

    <!-- START SHOWCASE -->
    <table align="center" width="70%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td height="35"></td>
            </tr>
            <!-- <tr>
                <td align="center" style="font-family: 'Raleway', sans-serif; font-size:22px; font-weight: bold; color:#333;">CONTENT SHOWCASE</td>
            </tr>
            <tr>
                <td height="10"></td>
            </tr> -->
            <tr>
                <td align="center" style="font-family: 'Lato', sans-serif; font-size:14px; color:#757575; line-height:24px; font-weight: 300;">
                    Email ini dikirimkan otomatis oleh sistem. <br> Email ini bertujuan untuk memberitahukan kepada binagram bahwa Petugas Pembuat Komitmen (PPK) membutuhkan revisi Petunjuk Operasional Kegiatan (POK).
                </td>
            </tr>
            <tr height="50"></tr>
        </tbody>
    </table>

    <table align="center" width="50%" cellspacing="0" cellpadding="0" style="border: 1px solid;">
        <tbody>
            <tr>
                <td width="5%"></td>
                <td width="25%"></td>
                <td width="70%"></td>
            </tr>
            <tr>
                <td align="left" colspan="3" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    Rincian POK yang membutuhkan revisi
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    Program
                </td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    : Kode - Uraian
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    Aktivitas
                </td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    : Kode - Uraian
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    KRO
                </td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    : Kode - Uraian
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    Komponen
                </td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    : Kode - Uraian
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    Akun
                </td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    : Kode - Uraian
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    Detil
                </td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    : Kode - Uraian
                </td>
            </tr>
            <tr>
                <td align="left" colspan="2" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    Catatan PPK
                </td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300;  vertical-align:top;">
                    : Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos nostrum unde cum deserunt asperiores perspiciatis aperiam vel laborum quas. Dolor culpa beatae explicabo. Officia omnis possimus neque eaque dolores sint?
                </td>
            </tr>
            <tr>
                <td align="left" colspan="3" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    Rincian Unit yang melakukan permintaan
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    Unit
                </td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    : Nama Unit
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    Nilai Bruto
                </td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    : Rp x.xxx.xxx.xxx
                </td>
            </tr>
            <tr>
                <td></td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    SPJ
                </td>
                <td align="left" style="font-family: 'Lato', sans-serif; font-size:14px; color:#3B3561; line-height:24px; font-weight: 300; vertical-align:top;">
                    : Terlampir
                </td>
            </tr>
        </tbody>
    </table>
    <!-- END SHOWCASE -->

    <!-- START FOOTER -->
    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr height="50"></tr>
            <tr>
                <td align="center" bgcolor="#F0F7F4">
                    <table class="col" width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tbody>
                            <tr height="15"></tr>
                            <tr>
                                <td align="left" style="font-family: 'Raleway',  sans-serif; font-size:26px; font-weight: 500; color:#3B3561; padding-left: 15px;">2021 - SIMAMOV</td>
                            </tr>
                            <tr height="15"></tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- END FOOTER -->



</body>

</html>