<div class="animated fadeIn">
    <div class="card" id="new">
        <div class="card-header"><i class="icon-pencil"></i> E-LOKET</div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        {{!-- form pengajuan user --}}
                        <div class="row col">
                            <h5><strong>- UNIT -</strong></h5>
                        </div>
                        <form id="loketUnit" method="POST" action="loket/unitKirim" class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="loketNamaUnit" class="col-md-2 form-control-label">Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketNamaUnit" id="loketNamaUnit"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKodeUnit" class="col-md-2 form-control-label">Kode Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketKodeUnit" id="loketKodeUnit"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOperator" class="col-md-2 form-control-label">Operator</label>
                                        <div class="col">
                                            <input type="text" name="loketOperator" id="loketOperator"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 form-control-label">Detail Pengajuan</label>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketProgram" class="col ml-1 form-control-label">Program</label>
                                        <div class="col-md-10">
                                            <select name="loketProgram" id="loketProgram" class="form-select" disabled>
                                                <option Selected>Pilih Program</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKegiatan" class="col ml-1 form-control-label">Kegiatan</label>
                                        <div class="col-md-10">
                                            <select name="loketKegiatan" id="loketKegiatan" class="form-select"
                                                disabled>
                                                <option selected>Pilih Kegiatan</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketOutput" class="col ml-1 form-control-label">Output</label>
                                        <div class="col-md-10">
                                            <select name="loketOutput" id="loketOutput" class="form-select" disabled>
                                                <option Selected>Pilih Output</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketKomponen" class="col ml-1 form-control-label">Komponen</label>
                                        <div class="col-md-10">
                                            <select name="loketKomponen" id="loketKomponen" class="form-select"
                                                disabled>
                                                <option Selected>Pilih Komponen</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketAkun" class="col ml-1 form-control-label">Akun</label>
                                        <div class="col-md-10">
                                            <select name="loketAkun" id="loketAkun" class="form-select" disabled>
                                                <option Selected>Pilih Akun</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketTglPelaksanaan" class="col ml-1 form-control-label">Tanggal
                                            Pelaksanaan</label>
                                        <div class="col-md-10">
                                            <input type="date" name="loketTglPelaksanaan" id="loketTglPelaksanaan"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketDetail" class="col ml-1 form-control-label">Detail SPJ</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketDetail" id="loketDetail" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="loketNilai" class="col ml-1 form-control-label">Nilai</label>
                                        <label class="ml-2 form-control-label" for="">Rp</label>
                                        <div class="col-md-9">
                                            <input type="text" name="loketNilai" id="loketNilai" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 form-control-label">Checklist</label>
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-1" style="text-align:center">Unit</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">SPJ</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistSpjUnit" name="checklistSpjUnit" id="checklistSpjUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Daftar Hadir</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDaftarHadirUnit" name="checklistDaftarHadirUnit"
                                            id="checklistDaftarHadirUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Dokumentasi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistDokumentasiUnit" name="checklistDokumentasiUnit"
                                            id="checklistDokumentasiUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Notulensi</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistNotulensiUnit" name="checklistNotulensiUnit"
                                            id="checklistNotulensiUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">CV Narasumber</label>
                                        <input class="col-md-1 form-check" type="checkbox" value="True"
                                            aria-label="checklistCvUnit" name="checklistCvUnit" id="checklistCvUnit">
                                    </div>
                                    <div class="form-group row">
                                        <label for="fileSpjUnit" class="col-md-2 form-control-label">Upload SPJ</label>
                                        <div class="col input-group">
                                            <input type="file" class="form-control" name="fileSpjUnit" id="fileSpjUnit"
                                                aria-label="fileSpjUnit" accept=".xlsx,.xls">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="resetFormUnit" type="reset" class="btn btn-primary">Reset</button>
                                        <button id="kirimFormUnit" type="submit" class="btn btn-success">Kirim</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/handsontable.full.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/locale/id.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/data.js"></script>
<script src="/js/drilldown.js"></script>
<script src="/js/exporting.js"></script>
<script src="/js/offline-exporting.js"></script>

<script type="text/javascript">
    //socket = io.connect($(location).attr('host'));
    var socket = io()

    //untuk hak akses
    //var user_aktiv = '{{username}}';

    $(document).ready(function () {
        //alert permintaan diproses
        $('#kirimFormUnit').click(function () {
            alert("Tiket telah diteruskan ke PPK")
        })

    });

</script>