<div class="animated fadeIn">
    <div class="card" id="new">
        <div class="card-header"><i class="icon-pencil"></i> E-LOKET</div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="daftar_pengajuan_dana" class="nav-link active" data-toggle="tab" href="#statusdana"
                                role="tab" aria-control=""><i class="icon-hourglass"></i> Daftar Pengajuan Dana</a>
                        </li>
                        <li class="nav-item">
                            <a id="form_pengajuan_dana" class="nav-link" data-toggle="tab" href="#periksavalidator"
                                role="tab" aria-control=""><i class="icon-bell"></i> Periksa Pengajuan</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        {{!-- pemeriksaan loket operator/validator --}}
                        <div class="tab-pane row" id="periksavalidator" role="tabpanel">
                            <form id="loket_submit" method="POST" action="loket/submit" class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Nama Pengguna</label>
                                            <div class="col">
                                                <select class="form-control" id="nama_pengguna" name="nama_pengguna">
                                                    <option value="none" selected="selected">--pilih--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Unit Pengguna</label>
                                            <div class="col">
                                                <select class="form-control" id="unit_pengguna" name="unit_pengguna">
                                                    <option value="none" selected="selected">--pilih--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Tanggal Pengajuan</label>
                                            <div class="col">
                                                <input type="date" id="tanggalpengajuan" name="tanggalpengajuan"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">
                                                Keterangan Pengajuan Dana</label>
                                            <div class="col">
                                                <textarea class="form-control" id="keterangandana" name="keterangandana"
                                                    rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Jumlah Dana</label>
                                            <label class="ml-2 form-control-label" for="">Rp</label>
                                            <div class="col">
                                                <input type="text" id="jumlahdana" name="jumlahdana"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Dokumen</label>
                                            <div class="col ml-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="dokumenA">
                                                    <label class="form-check-label" for="dokumenA">
                                                        Dokumen A
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="dokumenB">
                                                    <label class="form-check-label" for="dokumenB">
                                                        Dokumen B
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" value=""
                                                        id="dokumenC">
                                                    <label class="form-check-label" for="dokumenC">
                                                        Dokumen C
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">
                                                Surat Pertanggung Jawaban</label>
                                            <div class="col input-group">
                                                <input type="file" class="form-control" id="filespj" name="filespj"
                                                    aria-label="Unggah" accept=".xlsx,.xls">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Program</label>
                                            <div class="col">
                                                <select class="form-control" id="pok_program" name="pok_program">
                                                    <option value="none" selected="selected">--pilih--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Kegiatan</label>
                                            <div class="col">
                                                <select class="form-control" id="pok_kegiatan" name="pok_kegiatan">
                                                    <option value="none" selected="selected">--pilih--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Output</label>
                                            <div class="col">
                                                <select class="form-control" id="pok_output" name="pok_output">
                                                    <option value="none" selected="selected">--pilih--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Sub Output</label>
                                            <div class="col">
                                                <select class="form-control" id="pok_suboutput" name="pok_suboutput">
                                                    <option value="none" selected="selected">--pilih--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Komponen</label>
                                            <div class="col">
                                                <select class="form-control" id="pok_komponen" name="pok_komponen">
                                                    <option value="none" selected="selected">--pilih--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Sub Komponen</label>
                                            <div class="col">
                                                <select class="form-control" id="pok_subkomponen"
                                                    name="pok_subkomponen">
                                                    <option value="none" selected="selected">--pilih--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Akun</label>
                                            <div class="col">
                                                <select class="form-control" id="pok_akun" name="pok_akun">
                                                    <option value="none" selected="selected">--pilih--</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="" class="col-md-2 form-control-label">Detail</label>
                                            <div class="col">
                                                <input type="text" id="pok_detail" name="pok_detail"
                                                    class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button id="tolak_btn" type="submit" class="btn btn-danger">Tolak pengajuan</button>
                                    <button id="konfirmasi_validator_btn" type="submit"
                                        class="btn btn-success">Konfirmasi Pengajuan</button>
                                </div>
                            </form>
                        </div>
                        {{!-- list pengajuan --}}
                        <div class="tab-pane active" id="statusdana" role="tabpanel">
                            <table id="table_loket_user" class="table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Nama Pengguna</th>
                                        <th>Unit</th>
                                        <th>tanggal Pengajuan</th>
                                        <th>Jumlah Dana</th>
                                        <th>Status</th>
                                        <th>Keterangan Pengajuan Dana</th>
                                        <th>Pilihan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="konfirmasi_tolak_form" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document" style="max-width: 500px;">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title">Keterangan Penolakan</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0 15px;">
                <div style="padding: 15px;">
                    <div class="row">
                        <div class="col">
                            <textarea class="form-control" id="keterangan_penolakan_validator" rows="3"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Batalkan</button>
                <button type="button" class="btn btn-danger" id="tolak_validator_btn">Konfirmasi</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<script src="/js/handsontable.full.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/locale/id.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/data.js"></script>
<script src="/js/drilldown.js"></script>
<script src="/js/exporting.js"></script>
<script src="/js/offline-exporting.js"></script>

<script>
    $('#pok_dana').val({{ duit }});
</script>


<script type="text/javascript">
    socket = io.connect($(location).attr('host'));

    //untuk hak akses
    var user_aktiv = '{{username}}';

    $(document).ready(function () {

        //        socket.on('form_penarikan', function (data) {
        //            generalAlert('Form telah disubmit');
        //        })
        $('#tolak_btn').click(function () {
            //tampilkan modal
            $('#konfirmasi_tolak_form').modal('show');
        })
    });

</script>