<div class="animated fadeIn">
    <div class="card" id="new">
        <div class="card-header"><i class="icon-pencil"></i> E-LOKET</div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a id="daftar_pengajuan_dana" class="nav-link active" data-toggle="tab" href="#statusdana"
                                role="tab" aria-control=""><i class="icon-hourglass"></i> Daftar Pengajuan Dana</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        {{!-- list pengajuan --}}
                        <div class="tab-pane active" id="statusdana" role="tabpanel">
                            <table id="table_loket_user" class="table table-bordered" width="100%">
                                <thead>
                                    <tr>
                                        <th>Nama Pengguna</th>
                                        <th>Unit</th>
                                        <th>tanggal Pengajuan</th>
                                        <th>Jumlah Dana</th>
                                        <th>Status</th>
                                        <th>Keterangan Pengajuan Dana</th>
                                        <th>Pilihan</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

<script src="/js/handsontable.full.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/locale/id.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/data.js"></script>
<script src="/js/drilldown.js"></script>
<script src="/js/exporting.js"></script>
<script src="/js/offline-exporting.js"></script>

<script>
    $('#pok_dana').val({{ duit }});
</script>

{{!--
<script type="text/javascript">
    socket = io.connect($(location).attr('host'));

    //untuk hak akses
    var user_aktiv = '{{username}}';

    $(document).ready(function () {

        socket.on('form_penarikan', function (data) {
            generalAlert('Form telah disubmit');
        })

    });

</script> --}}