<div class="animated fadeIn">
    <div class="card" id="new">
        <div class="card-header"><i class="icon-pencil"></i> E-LOKET</div>
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <div class="tab-content">
                        {{!-- form pengajuan user --}}
                        <div class="row col">
                            <h5>UNIT</h5>
                        </div>
                        <form id="loketUnit" method="POST" action="loket/unitSubmit" class="modal-body">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 form-control-label">Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketUnit" id="loketUnit" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 form-control-label">Kode Unit</label>
                                        <div class="col">
                                            <input type="text" name="loketKodeUnit" id="loketKodeUnit"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 form-control-label">Operator</label>
                                        <div class="col">
                                            <input type="text" name="loketOperator" id="loketOperator"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 form-control-label">Detail Pengajuan</label>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col ml-1 form-control-label">Program</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketProgram" id="loketProgram"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col ml-1 form-control-label">Kegiatan</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketKegiatan" id="loketKegiatan"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col ml-1 form-control-label">Output</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketOutput" id="loketOutput" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col ml-1 form-control-label">Komponen</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketKomponen" id="loketKomponen"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col ml-1 form-control-label">Akun</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketAkun" id="loketAkun" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col ml-1 form-control-label">Tgl Pelaksanaan</label>
                                        <div class="col-md-10">
                                            <input type="date" name="loketTglPelaksanaan" id="loketTglPelaksanaan"
                                                class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col ml-1 form-control-label">Detail SPJ</label>
                                        <div class="col-md-10">
                                            <input type="text" name="loketDetail" id="loketDetail" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col ml-1 form-control-label">Nilai</label>
                                        <label class="ml-2 form-control-label" for="">Rp</label>
                                        <div class="col-md-9">
                                            <input type="text" name="loketNilai" id="loketNilai" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 form-control-label">Checklist</label>
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2" style="text-align:center">Unit</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">SPJ</label>
                                        <input class="col-md-2 form-check" type="checkbox" value="True"
                                            name="checklistSpjUnit" id="checklistSpjUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Daftar Hadir</label>
                                        <input class="col-md-2 form-check" type="checkbox" value="True"
                                            name="checklistDaftarHadirUnit" id="checklistDaftarHadirUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Dokumentasi</label>
                                        <input class="col-md-2 form-check" type="checkbox" value="True"
                                            name="checklistDokumentasiUnit" id="checklistDokumentasiUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">Notulensi</label>
                                        <input class="col-md-2 form-check" type="checkbox" value="True"
                                            name="checklistNotulensiUnit" id="checklistNotulensiUnit">
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-2"></div>
                                        <label for="" class="col-md-2 form-control-label">CV Narasumber</label>
                                        <input class="col-md-2 form-check" type="checkbox" value="True"
                                            name="checklistCvUnit" id="checklistCvUnit">
                                    </div>
                                    <div class="form-group row">
                                        <label for="" class="col-md-2 form-control-label">Upload SPJ</label>
                                        <div class="col input-group">
                                            <input type="file" class="form-control" name="filespj" id="filespj"
                                                aria-label="Unggah" accept=".xlsx,.xls">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="simpan" type="submit" class="btn btn-primary">Simpan</button>
                                        <button id="kirim" type="submit" class="btn btn-success">Kirim</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/handsontable.full.min.js"></script>
<script src="/js/moment.min.js"></script>
<script src="/js/locale/id.js"></script>
<script src="/js/bootstrap-datetimepicker.js"></script>
<script src="/js/highcharts.js"></script>
<script src="/js/data.js"></script>
<script src="/js/drilldown.js"></script>
<script src="/js/exporting.js"></script>
<script src="/js/offline-exporting.js"></script>

<script>
    $('#jumlahdana').val({{ duit }});
</script>

{{!--
<script type="text/javascript">
    socket = io.connect($(location).attr('host'));

    //untuk hak akses
    var user_aktiv = '{{username}}';

    $(document).ready(function () {

        socket.on('form_penarikan', function (data) {
            generalAlert('Form telah disubmit');
        })

    });

</script> --}}